<div class="spacer" style="height:25px;"></div>
These are my "public profiles" at some other places that I have been known to trade bits with. 
<BR><BR>
I make no guarantee that the information is fit for any purpose, or even interesting in any way.<BR><BR>
<a href="http://www.new.facebook.com/people/Andy-Brett/1100419" title="Andy Brett's Facebook profile" target=_TOP>Facebook</a>
<BR><BR>
<a href="http://www.linkedin.com/in/andrewpbrett">LinkedIn</a>
<BR><BR>
<a href="http://www.pandora.com/people/abrett">Pandora</a>
<BR><BR>
<a href="http://twitter.com/andrewpbrett">Twitter</a>
<BR><BR>
<a href="http://www.goodreads.com/user/show/208829">GoodReads</a>