		<div class="spacer" style="height:25px;"></div>
Andy Brett was born on September 26th in an undisclosed location in northeast Ohio. Educated first by his parents, and then by nuns, and finally by the <a href="http://www.gilmour.org/">Socratic method</a>, he left Ohio at the age of 17 with a tendency to ask impertinent questions, as well as "real-world" experience as a <a href="http://www.kirtlandcc.org/">caddy</A>, tutor, landscaper, camp counselor, and Panera sandwich maker. Luckily, he wasn't headed for the real world but rather the orange bubble of Princeton University.

        <br><br>

After four years, Andy emerged with a degree and a few more hats, including <a href="http://www.greenmountainclub.org">Long Trail Patrolman</a>, storm chaser, and <a href="http://www.environcorp.com/">human health risk analyst</a>. He also took many courses, and while his degree is technically in Civil and Environmental Engineering and Computer Science, the bulk of the credit for his higher education belongs to the professors from these four courses: 

        <br><br>

- Macroeconomics<br>

- <a href="http://www.cs.princeton.edu/courses/archive/spr07/cos333/">Advanced Programming Techniques</a><br>

- <a href="http://en.wikipedia.org/wiki/Ed_Zschau">High Tech Entrepreneurship</a><br>

- <a href="http://www.geotimes.org/oct07/article.html?id=feature_democracy.html">Investigating Natural Disasters</a>

        <br><br>

After graduating, it was on to the big city to conquer the world, or at least the I-95 corridor. Over the next 18 months, Andy worked with <a href="http://www.accenture.com">Tiger Woods' IT guys</a>, helping out on projects such as the US Army's GFEBS accounting system and the NYC Mayor's Office of Contracts procurement system, and proudly kept a <a href="http://mta.info/nyct/maps/submap.htm">MetroCard</a>, <a href="http://www.mbta.com/schedules_and_maps/subway/">CharlieCard</a>, and <a href="http://www.wmata.com/rail/maps/map.cfm">SmarTrip</a> card in his wallet at all times.

		<BR><BR>

However, the Ruby Kool-Aid (technically the Rails Kool-Aid) finally got to his brain, and Andy began cooking up beautiful code for <a href="http://www.recyclebank.com">RecycleBank</a>, a gig that, as a friend put it, let him sleep at night. 

        <br><br>
Andy currently works in Palo Alto, CA as an engineer at <a href="http://www.techcrunch.com">TechCrunch</a>, solving tough problems and developing <a href="http://www.crunchbase.com">CrunchBase</a>, the free database of technology companies, people, and investors that anyone can edit (apologies to <a href="http://en.wikipedia.org/wiki/Jimmy_wales">Jimmy Wales</a>). 
        <br><br>

Andy also enjoys <%= link_to 'writing', blog_url %>, <a href="http://www.guitarhero.com">shredding</a>, and <a href="http://www.coastraid.com/en/index.html">adventure racing</a>.
