<div class="spacer" style="height:25px;"></div>
  <a href="/Resume.pdf" class="header_link"><strong>One-page resume</strong></a> [PDF]

  <BR>

  <BR>

<span class="res_header">Education</span><BR>
<div class="short_green_line"></div>

<B>Princeton University</B>, 2007. Bachelor's of Science and Engineering. Civil and Environmental Engineering, Computer Science. 

<BR><BR>

<span class="res_header">Publications</span><BR>
<div class="short_green_line"></div>

"<a href="http://www.geotimes.org/oct07/article.html?id=feature_democracy.html">Democracy, GDP, and Natural Disasters</A>." October 2007, <i>Geotimes</i>. Co-author with Gregory van der Vink et al. <BR>

"<a href="http://www.andrewpbrett.com/Thesis.pdf">The Impacts of Hurricane Mitigation on the Costs of Extreme Events</A>." Senior thesis; accepted to the 2007 American Geophysical Union Assembly. <BR>

<a href="http://www.grist.org/cgi-bin/search.pl?query=andy+brett">Assorted writings</A> for <a href="http://gristmill.grist.org/">Gristmill</A>, the blog of the environmental news magazine <i>Grist</i>.

<BR><BR>

<span class="res_header">Technical Skills</span><BR>
<div class="short_green_line"></div>

<B>Languages</B>: Ruby, Ruby on Rails, Java, PHP, C, JavaScript, AJAX, Assembly<BR>

<B>Markups</B>: HTML, CSS, XML, SASS<BR>

<B>Databases</B>: mySQL, Access<BR>

<B>Web Servers</B>: Apache, Nginx, Mongrel<BR>

<B>Other</B>: Rspec, Cucumber, Git, Subversion (SVN), WordPress, Capistrano, Phusion Passenger, Linux (Debian, Ubuntu), GIMP/Photoshop, Google Analytics, Google Maps API<BR><BR>

<span class="res_header">Experience</span><BR>
<div class="short_green_line"></div>
<span class="experience">TechCrunch</span>, July 2009 - Present<BR>
	- <a href="http://www.crunchbase.com/">CrunchBase</a><BR>
<BR>

<span class="experience">RecycleBank</span>, January 2009 - June 2009<BR>
	- Designed and built additions to existing Ruby on Rails <a href="http://www.recyclebank.com">web application</a> to track individuals' recycling habits and distribute rewards based on those habits<BR>
	- Updated front-end Javascript calls to ad server to allow for better click-tracking<BR>
	- Allowed users to have linked sub-accounts that they could transfer and automatically share points with<BR>
	- Automatically validated field data from recycling trucks at weigh stations for comparison against individual home weights<BR>

<BR>

<span class="experience">Accenture</span>, June 2007 - January 2009<BR>

<span class="experience_sub">Junior Achievement of New Jersey</span>, April 2008 - January 2009<BR>

- Led technical team in the design, development, and deployment of a Rails-based <a href="http://www.janjbowlathon.org">web application</a> to manage "bowl-a-thon" fundraising events<BR>

- Personally created the majority of the code base and reviewed each team member's contributions<BR>

- Emphasized agile development principles; led weekly meetings with client to review application status and goals<BR>

<span class="experience_sub">Mayor's Office of Contract Services</span>, July 2008 - January 2009<BR>

- Created, analyzed, and edited business processes, use cases, and test scripts related to the procurement of goods and services for the City of New York<BR>

<span class="experience_sub">General Fund Enterprise Business System</span>, September 2007 - July 2008<BR>

- Wrote technical designs for SAP code objects within the Exchange Infrastructure (XI) module; built and tested objects after design approval<BR>

<span class="experience_suby">UPS</span>, July 2008<BR>

- Tested applications against baseline results after migration to Linux servers<BR><BR>

<span class="experience">Princeton University Outdoor Action</span>, January 2007 - June 2007<BR>

- Conceived, designed and developed a web application to manage trips and other personnel information, using the Ruby on Rails framework<BR>

- Focused on database schema design and Ruby functions, classes, and migrations to interact with the mySQL database<BR><BR>

<span class="experience">ENVIRON International Corporation</span>, Summer 2006<BR>

- Performed human health risk analysis by writing and manipulating Microsoft Access queries<BR>

- Analyzed and documented processes for conducting risk assessments<BR>

<BR>

<span class="experience">Princeton University Outdoor Action</span>, June 2004 - June 2007<BR>

- As a First Aid Instructor and Coordinator, taught wilderness first aid classes to groups of 10-20 students; managed logistics, cirriculum, and scheduling for 50-100 students per semester<BR>

- As a Leader Trainer, used a variety of experiential and classroom techniques to prepare students to lead incoming freshmen on six-day backpacking trips<BR>

- As a Leader, ran six-day backpacking trips with a co-leader for groups of 8-10 incoming freshmen, focusing on team-building and group challenges<BR>

<BR>

<span class="experience">Grist Magazine</span>, Summer 2005<BR>

- Wrote daily opinion and analysis on environmental topics for Grist's blog, Gristmill, specializing in cities and the environment; worked remotely from Baltimore, Maryland<BR>

<BR>

<span class="experience">Baltimore Ecosystem Study</span>, Summer 2005<BR>

- Conducted research on the effects of urbanization on stormwater runoff patterns in the suburbs of Baltimore, MD, using ArcGIS, the EPA's SWMM software package, and traditional surveying and discharge measurement tools<BR>

<BR>

<span class="experience">Green Mountain Club</span>, Summer 2004<BR>

- As a member of the Long Trail Patrol, maintained the 270-mile Long Trail in Vermont through a number of projects including the construction of stone staircases, waterbars, and bridges<BR>

<BR>

<span class="experience">Princeton University Store</span>, September 2003 - January 2006<BR>

- Managed technical aspects of the store's electronic newsletter, including editing HTML and improving the subscribe/unsubscribe process<BR>

<BR> 

<span class="experience">Panera</span>, Summer 2003<BR>

- Specialized in efficient yet artful sandwich construction<BR>

<BR>

<span class="experience">Kirtland Country Club</span>, Summer 1999<BR>

- Caddy; promoted to doing "doubles" by July 4th<BR>
